<section class="h-100">
    <div class="container h-100">
        <div class="row justify-content-md-center h-100">
            <div class="card-wrapper">
                <br>
                <div class="card fat">
                    <div class="card-body">
                        <h4 class="card-title">Login</h4>
                        <form (ngSubmit)="f.form.valid && ingresar()" #f="ngForm" novalidate>
                            <div class="form-group">
                                <label for="email">Email</label>
                                <input type="text" class="form-control" name="email" [(ngModel)]="credentials.email" #email="ngModel" required>
                                <span *ngIf="f.submitted && !email.valid" class="badge badge-pill badge-dark">El email es requerido</span>
                            </div>
                            <div class="form-group">
                                <label for="password">Contraseña
                                </label>
                                <input type="password" class="form-control" name="password" [(ngModel)]="credentials.password" #password="ngModel" required>
                                <span *ngIf="f.submitted && !password.valid" class="badge badge-pill badge-dark">La contraseña es requerida</span>
                            </div>
                            <div *ngIf="errorMsg" class="form-group text-center">
                                <span class="badge badge-pill badge-dark">{{errorMsg}}</span>
                            </div>
                            <div class="form-group no-margin">
                                <button type="submit" class="btn btn-primary btn-block">
                                    Ingresar
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>